R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_ACCESS_KEY=xxx
R2_SECRET_KEY=xxx
R2_BUCKET=heyama-objects
R2_PUBLIC_URL=https://pub-xxxx.r2.dev
MONGO_URI=mongodb://localhost:27017/heyama
PORT=3000
